html{
    background-color:grey;
    height:500px;
    width:500px;
}

.row{
    height:100px;
    width:800px;
}
.box{
    height: 100px;
    width: 100px;
    float: left;
}
.black{
    background-color: black;
    float: left;
}
.white{
    background-color:white;
}
